// Custom styles.

// zproo修改
/*.post-button {
//text-align: right;
  margin-top: 0px;
//border-bottom: 1px solid #ccc;
}*/
// 访问量靠右显示
.busuanzi-count {
  display: inline-block;
  float: right;
}

// 文章h1标题加下划线
h1 {
  border-bottom: 1px solid #ccc;
}

.post-title {
  border-bottom: 0px;
}

/*// 每篇文章间的间距
.posts-expand .post {
  margin-top: 50px;
}*/
// 文章下面信息位置
.posts-expand .post-meta {
  margin-top: -10px;
}
// 段落间间距
p {
  margin: 10px 0 10px 0;
}
