// Custom styles.

// zproo添加
// 访问量靠右显示
.busuanzi-count {
  display: inline-block;
  float: right;
}

// 文章h1标题加下划线
h1 {
  border-bottom: 1px solid #ccc;
}

.post-title {
  border-bottom: 0px;
}

/*// 每篇文章间的间距
.posts-expand .post {
  margin-top: 50px;
}*/
// 第一片文章距离顶部位置
.content-wrap {
  padding-top: 0px;
}

// 文章标题位置
.posts-expand .post-title, .posts-expand .post-meta {
//text-align: left;
}

// 文章下面信息位置
.posts-expand .post-meta {
  margin-top: -3px;
  margin-bottom: 30px;
}

// 段落间间距
p {
  margin: 10px 0 10px 0;
}

// 底部阅读更多
.post-button {
//display: none;
//text-align: center;
  margin-top: 20px;
}

// 底部分割条
.post-footer .post-eof {
  display: none;
}

// 头像圆形
.site-author-image {
  border-radius: 50%;
}

// 博客超出图片
.post-body .fancybox .full-image {
//height: 100px;
  padding: 0 0 0 15px;
}
