// 不同页封面设置
#header_post {
  min-height: 400px;
  +desktop-large() {
    min-height: 600px;
  }
}

.header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background: no-repeat center center;
  background-color: gray;
  background-attachment: scroll;
  background-size: cover;

  // zproo主页背景高度
  height: 220px;
  +desktop-large() {
    height: 300px;
  }

  +tablet() {
    width: auto;
    height: 130px;
  }
  +mobile() {
    width: auto;
    height: 200px;
  }
}

.header-inner {
  top: 0;
  overflow: hidden;
  padding: 0;
  width: inherit;

  +tablet() {
    position: relative;
    width: auto;
  }
  +mobile() {
    position: relative;
    width: auto;
    overflow: visible;
  }
}

.main {
  clearfix();
  +tablet() {
    padding-bottom: 100px;
  }
  +mobile() {
    padding-bottom: 100px;
  }
}

.container .main-inner {
  width: $main-desktop;

  // zproo
  +desktop-large() {
     width: $main-desktop-large;
  }

  +tablet() {
    width: auto;
  }
  +mobile() {
    width: auto;
  }
}

.content-wrap {
  float: right;
  box-sizing: border-box;
  padding: $content-desktop-padding;
  width: $content-desktop;
  background: white;
  min-height: 700px;

// zproo
  +desktop-large() {
    width: $content-desktop-large;
  }

  +tablet() {
    width: 100%;
    padding: 1em;
  }
  +mobile() {
    width: 100%;
    padding: 1em;
    min-height: auto;
  }
}

.sidebar {
  position: static;
  float: left;
  margin-top: 300px;
  width: $sidebar-desktop;
  background: white;
  box-shadow: none;

  +tablet() {
    display: none;
  }
  +mobile() {
    display: none;
  }
}

.sidebar-toggle { display: none; }


.footer-inner {
  width: $main-desktop;

  &:before {
    content: " ";
    float: left;
    width: 260px;
    min-height: 50px;
  }

  +tablet() {
    width: auto;

    &:before { display: none; }
  }
  +mobile() {
    width: auto;

    &:before { display: none; }
  }
}



.sidebar-position-right {
  .header-inner { right: 0; }
  .content-wrap { float: left; }
  .sidebar { float: right; }

  .footer-inner:before { float: right; }
}

