// zproo修改 阅读更多按钮
.post-more-link {
  //text-align: left;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5em;
  margin-top: 1em;

  .btn {
    color: $read-more-color;
    font-size: 12px;
    background: $read-more-bg-color;
    border-radius: $read-more-border-radius;
    line-height: 2;
    margin: 0 4px 8px 4px;

    padding: 0 10px;
    border-radius: 25px;

  }
  .btn:hover {
    @extend .btn:hover;
  }
  .fa-fw {
    width: (18em / 14);
    text-align: left;
  }
}
/*
.post-more-link {
  margin-top: 50px;

  .btn {
    color: $read-more-color;
    font-size: $read-more-font-size;
    background: $read-more-bg-color;
    border-radius: $read-more-border-radius;
    line-height: 2;
    margin: 0 4px 8px 4px;
  }
  .btn:hover {
    @extend .btn:hover;
  }
  .fa-fw {
    width: (18em / 14);
    text-align: left;
  }
}
*/
