// Custom styles.
.use-motion .sidebar .motion-element {
  text-align: center;
}

// 内容部分
.main {
  margin-top: 20px;
}

// 顶部导航栏
.menu {
  overflow: hidden;
}

.menu .menu-item a {
  font-size: 12px;
  line-height: 12px;
  padding: 20px;

  float: right;
// 适配手机
  +mobile() {
    font-size: 12px;
    line-height: inherit;
    padding: 0px 5px;

  }
}

//  header
.header-inner-post {
  padding-bottom :60px;
}
.header-inner {
  position: relative;
  height: 100%;
}

.site-meta {
  position: relative;
  height: 100%;
  width: 100px;
  margin: 0 auto;

}

.site-meta-headline {
  text-align: center;
  height: 40px;
  width :100%;
  position: absolute;
  top: 48%;
  //left: 0;
  margin-top: -20px;
}

// 文章标题
.posts-expand .post-title {
  text-align: left;
  font-weight: 400;
  border-bottom: 0px;
}

// 文章信息
.posts-expand .post-meta {
  text-align: left;
  margin-top: -10px;
}

// 文章分隔
.posts-expand .post-eof {
  display: none;
  margin: 20px auto 40px;
}

// 文章h1标题加下划线
h1 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  margin-top: 15px;
}

.page-post-detail .post-header h1 {
  border-bottom: 0px;
}

// 段落间间距
p {
  margin: 10px 0 10px 0;
}

body {
  line-height: 1.6;

}

// 代码
pre, .highlight {
  margin: 10px 0;
}




