// Tags
// --------------------------------------------------

// zproo修改
h1, h2, h3, h4, h5, h6 { margin: 15px 0 10px; }
//h1, h2, h3, h4, h5, h6 { margin: 20px 0 10px; }

p { margin: 0 0 25px 0; }

a { border-bottom-color: $grey-light; }

hr {
  margin: 20px 0;
  height: 2px;
}

// zproo添加
// 自定义Mist摘要显示
.zproo-edit  * {
  //display : inline-block;
  font-size : 16px;
  margin : 0px;
  padding-top: 0px;
}
